
body {
    background: linear-gradient(to bottom, #f0f0f0, #c9c9c9); 
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 5%;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.inputs input[type="text"] {
    flex: 1;
    height: 50px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.inputs input[type="submit"] {
    height: 50px;
    width: 100px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inputs input[type="submit"]:hover {
    background-color: #0056b3;
}

.display {
    text-align: center;
    background-color: rgba(249, 249, 249, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 400px; 
    margin: 20px auto; 
    margin-left: auto; 
    margin-right: auto; 
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.wrapper h2 {
    grid-column: 1 / -1; 
    background-color: #007bff; 
    color: #fff;
    /* padding: 10px;  */
    border-radius: 5px; 
}

.wrapper p {
    margin: 0; 
    text-align: left;
    padding: 10px; 
    background-color: #f0f0f0; 
    border-radius: 5px; 
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wrapper {
    animation: fadeIn 0.5s ease;
}



@media screen and (max-width: 500px) {
    .container {
        max-width: 90%; 
    }

    .inputs {
        flex-direction: column; 
        margin-bottom: 10px; 
    }

    .inputs input[type="submit"] {
        margin-left: 0; 
        margin-top: 10px; 
    }

    .display {
        padding: 10px; 
    }

    .wrapper {
        grid-template-columns: 1fr; 
    }

    .wrapper h2 {
        grid-column: auto; 
    }
}